src/main/mule/myFirstCICDProject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="63f5e74f-e25c-43d7-adb7-2814be4c3116" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-cicd-projectFlow" doc:id="044cebc4-66c8-49cd-93d8-8c82c42c49aa" >
		<http:listener doc:name="Listener" doc:id="06e9046d-0188-4e3f-ad65-5c9e37c5f1da" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="payload received" doc:name="Set Payload" doc:id="14aa348a-ff59-4c88-890d-ddde57f39718" />
		<logger level="INFO" doc:name="Logger" doc:id="d10b4138-a925-4bdc-96be-f35d86e504c4" message="#[payload]"/>
	</flow>
</mule>
